<div class="contact_container">
  <h1 class="heading">How can we help ?</h1>
  <mat-divider></mat-divider>

  <h1 class="stay_in_touch">Stay in touch with nurtr</h1>
  <div class="data_section">

    <div class="contact_section">
      <h1>We're here to help.</h1>
      <p>You can email us at
        <a href="mailto:support@nurtr.com">support@nurtr.com</a>
      </p>
      <p>Or call us at
        <a href="tel:+91-8287554554 ">+91-8287554554 </a>
      </p>

      <h1 class="support_heading">Support Hours</h1>
      <p>Monday - Friday</p>
      <p>Phone or Email: 9 am - 6 pm IST</p>
    </div>

    <div class="tagline_section">
    </div>

  </div>

</div>