<div class="contact-form-container">
  <div class="spacer"></div>
  <div class="spacer_input input-form">
    <div class="adjust-input">
      <div class="input-container">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
      </div>
      <input type="text" placeholder="Subject">
      <input type="text" placeholder="Message">
      <div class="submit_button">
        <button mat-raised-button>Submit</button>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
