<div class="faq-container">
  <div class="general">
    <h2 (click)="s()">General Questions</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>What is nurtr?</mat-panel-title>
        </mat-expansion-panel-header>

        <p>nurtr is a career discovery platform.</p>
        <p>
          As we look around ourselves, we find people who feel like complete
          misfits in their jobs. Data says that a lot of career related
          decisions even today are being taken based on our perceptions rather
          than the reality. We are bringing together people, sceintific tools
          and various other enablers on our platform which allow one to
          discover, get inspired and be successful in one’s chosen
          profession(s).
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Who are the people behind nurtr?</mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          nurtr is being shaped by educationists, technologists and
          entrepreneurs from IITs, IIMs and INSEAD with decades of experience in
          transitioning through multiple careers , so we actually felt the pain
          ourselves and decided to do something about it!
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>What is your privacy policy?</mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          Our privacy policy is available at :
          <a
            href="http://nurtr-privacy.s3-website.ap-south-1.amazonaws.com/"
            target="_blank"
            >https://www.nurtr.com/privacy</a
          >
          . In case you have any questions about our privacy policy, please drop
          us a mail at
          <a href="privacy@nurtr.com" target="_top">privacy@nurtr.com</a>
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >What if my question has not been answered here, who do I reach out
            to?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          We are happy to answer any questions that you may have, please drop us
          a note at
          <a href="hello@nurtr.com" target="_top">hello@nurtr.com</a>
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >How to earn nurtr's scholarship point and how it can be
            used?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          nurtr's scholarship point can be earned on select few transaction you
          make on our website for purchasing any course or for registering in
          any tournament. Additionally nurtr's scholarship points are also
          awarded to select few participant upon visiting nurtr's stall setup in
          the tournament. <br />nurtr's scholarship point can be redeemed on our
          website <a href="https://www.nurtr.com">www.nurtr.com</a> on the
          purchase of courses listed inside our Dream Room/Live Room/Class
          Room/Camp Room and Star Room.<b
            >A maximum of 50% of course value can be redeemed using nurtr's
            scholarship point.
          </b>
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >What is the validity of nurtr's scholarship point?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          nurtr's scholarship point has a validity of 60 days from the day they
          are awarded except those which are earned through transaction made for
          Marathon Room. nurtr's scholarship point earned from Marathon Room
          transaction has a validity of 1 year from the date they are awarded.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >How to proceed after purchasing 121 room with a
            mentor?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          Once Subscriber has purchased training hours in this Room with a
          'Mentor', a mail is sent to the Subscriber to furnish player's details
          along with the general rules to be observed. Details once received, is
          shared with the 'Mentor'. If 'Mentor' approves the schedule is fixed
          for the training as per the mutual comfort of 'Mentor' and 'Player'.
          If for some reason 'Mentor' is not available to take the classes,
          nurtr reserve the right to cancel the particular subscription and
          refund the money.<br /><br />
          *Purchase of training hours does not ensures the training with the
          mentor
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >What is nurtr's monthly payment policy?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          Monthly payment is applicable on selected products. The month's due
          amount invoice shall be raised by nurtr on the 1st day of every month
          and the due date for payment shall be the 10th day of the month (“Due
          Date”). Subscriber shall pay the due-amount as per the invoice raised
          and mailed to the Subscriber's registered e-mail address. Payment made
          beyond the Due Date shall incur a late fee. Late fees shall be levied
          on the monthly due amount only. The late fees shall be applied three
          times each month; 10% on the 11th day of the month, another 5% on the
          18th day of the month and another 5% on 25th day of the month, the
          late fees shall be applied only on the pending amount.
          <br />
          <br />
          In case the subscriber fails to make the payment on or before the 'Due
          Date', access to the course will be suspended/blocked indefinitely
          subject to the payment received. Payment once received along with
          applicable 'late fee', access to the course will be restored for the
          subscriber with full features.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >Who are eligible for nurtr's Moneyback offer?</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          The Moneyback offer is available during limited time period and is
          applicable only on new subscription of Dream Room, Star Room Courses,
          Live Room, Camp Room & Class Room sessions. The offer is not
          applicable on EMI/Installment payments, Event Room registrations, 121
          Room, & Chessbase/Chess24 combos.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >How is Moneyback calculated and when do I receive my
            Moneyback?</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          Moneyback will be calculated as per total money spent on enrolling in
          various chess courses. It will be credited back to the original source
          of payment after 15 days of the transaction.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >I am not satisfied with a LIVE course that I have subscribed to. Am
            I eligible for a refund?</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          Refund requests for LIVE courses can be raised only if you have not
          attended more than 2 LIVE sessions (in the case of 52-week programs).
          For the ChessHour LIVE program, the request can be raised only within
          7 days of enrolling in the program. Any refund request beyond this,
          whatsoever, will not be entertained.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <h2>Dream Room</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>What is nurtr’s dream room?</mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          nurtr’s Dream Rooms are skilling courses desiged, developed and run by
          celebrated professionals. The typical duration of the course would be
          more than 40 hours.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >What does the dream room course fee include?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          The Dream Room fee includes the fee for lifetime access to the course
          and other enabling products and services (e.g. books, personalised
          scholarship eligibility report, access to free skilling webinars,
          offline workshops etc.) which are getting bundled together– the
          enabling tool(s) would vary based on the profession and may be limited
          by duration. Each successful mentee would also get a specially signed
          certificate from the mentor.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >Will I be able to interact with Dream Room Master
            Mentor?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          In a typical Dream Room, the celebrity mentors would be taking
          multiple webinars throughout the year, so yes – you’d be able to
          interact with them. If you or your institution would like to invite
          the mentors to your organization, then please drop us a mail at
          <a href="mailto:hello@nurtr.com" target="_top">hello@nurtr.com</a>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >What if I don’t like the course content and we are not happy with
            the process, is there any refund policy?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          In a highly unlikely event of your not liking the course or not
          finding it relevant, we will be happy to process a refund provided
          that a written request is received within 7 calendar days of the
          purchase. Please note that only the requests sent to
          <a href="mailto:support@nurtr.com">support@nurtr.com</a> will be
          considered for a refund. Telephonic commitment and WhatsApp/SMS
          requests will not be considered for refunds.
        </p>
        <p>
          Also, in any case, if you have accessed more than 20% of the course
          content or received any other enabling tool, we will not be able to
          process your refund request.
        </p>
        <p>
          Given that we are a learner-friendly platform & ours is primarily a
          digital product, we believe our policies are fair to both our
          consumers as well as our mentors and other eco-system partners.
        </p>
        <p>
          There will be no refunds on purchase made during any sale or special
          offers.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <h2>School</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >We would like to invite your team and mentors to our
            school?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          We hold offline events in various cities in our endeavour to connect
          with as many mentees as we can while keeping the engagement model
          scalable.
        </p>

        <p>
          We would be happy to hear from you, please drop us a request at
          <a href="mailto:hello@nurtr.com" target="_top">hello@nurtr.com</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <h2>Mentors</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >I want to be a mentor at nurtr, how can I do that?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          We would be happy to receive your request for an invite to be a mentor
          on nurtr
        </p>
        <p>
          kindly send us your details using the online form:
          <a href="https://www.nurtr.com">https://www.nurtr.com</a>
        </p>
        <p>
          Please note that all our mentors go through a rigorous screening
          process and signing up is not a guarantee of acceptance.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <h2>Education Service Providers / Potential Partners</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >I have a product or a service which I believe would be of interest
            to your students, how can I reach them?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          We would be happy to hear from you, please email us at
          <a href="mailto:schools@nurtr.com" target="_top">schools@nurtr.com</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <h2>Prize and Awards</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            >What is the payment procedure for the winners of nurtr's own Online
            Tournament and Game Room?</mat-panel-title
          >
        </mat-expansion-panel-header>

        <p>
          Winners, as selected, as per the existing rules of the tournament are
          intimated by e-mail and phone call. After, their bank account
          information is collected in which prize money is to be deposited. Bank
          account details once furnished by the winners, prize money after
          deducting taxes and other liabilities will be deposited in the
          furnished bank account and can take up to a maximum of 4-Week.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
