.app-success {
  .payment-success-container {
    margin-top: 3em;

    .thumbs-up {
      display: flex;
      justify-content: center;
      background-color: #464646;
    }

    .header_text {
      display: flex;
      flex-direction: column;
      margin: 1em;
      text-align: center;

      .icon_para {
        display: flex;
        margin: auto;
        margin-top: 1em;
        width: fit-content;
        mat-icon{
          margin-right: 1em;
        }
      }
    }
  }

  @media screen and (min-width: 700px){
    .payment-success-container{
      margin-top: 5em;
    }
  }
}
