<div class="web_dreamroom_detail">
  <div class="web_topics_to_be_covered">
    <mat-chip-list>
      <mat-chip>
        Topics to be covered include
      </mat-chip>
    </mat-chip-list>
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li>Opening Principles</li>
          <li>How to prepare an opening by oneself</li>
          <li>How to form an opening repertoire over a period of time</li>
          <li>How to handle dynamic and static positions</li>

        </ul>
      </div>
      <div class="col-md-4">
        <ul>
            <li>The art of calculation</li>
            <li>Prophylaxis</li>
          <li>Role of exchanges</li>
          <li>Exploiting weakness</li>

        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Handling of pieces</li>
          <li>Playing on colors</li>
          <li>Endgame technique</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="web_suitable_for">
    <mat-chip-list>
      <mat-chip>
        suitable for
      </mat-chip>
    </mat-chip-list>
    <div class="row">
      <div class="col-md-4">
        <strong>1. Beginners:</strong>
        <p>5 hours of quality content aimed towards people who want to learn chess from scratch</p>
      </div>
      <div class="col-md-4">
        <strong>2. Intermediate:</strong>
        <p>(1100 - 2000 FIDE Rating): 20 hours of content</p>
      </div>
      <div class="col-md-4">
        <strong>3. Advanced:</strong>
        <p>(2000+ FIDE Rating): 15 hours of content</p>
      </div>
    </div>
  </div>
  <app-content-feature [isTop]="true"></app-content-feature>
</div>
