<div class="about-container">
  <div class="author_image_container">
    <div class="image-container">
      <!-- <img draggable="false" src="https://s3.ap-south-1.amazonaws.com/nurtr.com/R.B_1.png" alt="RB Ramesh"> -->
      <img draggable="false" src="/assets/chess/R.B_1.png" alt="RB Ramesh">
    </div>
  </div>
  <div class="about-text">
    <h1>R.B. Ramesh</h1>
    <p class="description">
        Known as the Super Coach of India, Grand Master R.B. Ramesh is one of the most successful chess coaches in the world today. He won the British Chess Championship in 2002 and the Commonwealth Games in 2007. He also served as the coach of the Indian Olympiad team in the years 2012, 2014, 2016 and 2018. GM Ramesh has trained more than 10 Grand Masters and his Chess Gurukul (chess academy) which has been training budding chess players since 2008 has produced multiple global champions in different age categories, this includes Praggnanandhaa - the youngest International Master in the history of the game!
    </p>
  </div>
</div>
