.app-email-verification {
  .email_verification_container {
    margin-top: 100px;
    justify-content: center;
    display: flex;

    img {
      width: auto;
      height: auto;
      max-width: 100em;
      margin: 1em auto;
    }
  }
}
