:host {
  .card-container {
    border-radius: 20px;
    margin-left: 1em;
    position: relative;
    overflow: hidden;
    .container {
      display: flex;
      justify-content: center;
      padding: 0px;
      justify-content: space-between;
      // width: 100%;
      overflow: hidden;
      width: 100%;
      height: 100%;
      .img_container {
        width: 250px;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .about {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding-left: 1rem;

        p {
          font-family: 'Gilroy';
          font-size: 18px;
          line-height: 1.2;
        }
        h2 {
          font-size: 20px;
          font-family: 'Gilroy-SemiBold';
        }
        button {
          margin-top: 1.2rem;
          color: #131313;
          font-size: 15px;
          font-family: 'Gilroy-ExtraBold';
          background: white;
          border: 1px;
          border-radius: 5px;
          padding: 6px 22px;
        }
      }
    }
  }
}
