:host {
  .card-container {
    border-radius: 20px;
    margin-left: 1em;
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
    .container {
      display: flex;
      justify-content: center;
      padding: 0px;
      justify-content: space-between;
      // width: 100%;
      overflow: hidden;
      width: 100%;
      height: 100%;
      .img_container {
        width: 350px;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .about {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 3rem;
        h1 {
          font-size: 32px;
          font-family: 'Gilroy';
          width: 350px;
        }
        h2 {
          font-family: 'Gilroy-ExtraBold';
          margin: 1rem 0;
        }
        .main {
          align-items: flex-end;
          justify-content: space-between;
          display: flex;
          width: 100%;
          .contain {
            p:last-child {
              margin-bottom: 0px;
            }
          }
          button {
            margin-top: 1.2rem;
            color: #131313;
            font-size: 15px;
            font-family: 'Gilroy-ExtraBold';
            background: white;
            border: 1px;
            border-radius: 5px;
            padding: 6px 22px;
          }
          .pricing {
            p:first-child {
              font-size: 28px;
              font-family: 'Gilroy-SemiBold';
            }
            button {
              padding: 10px 35px;
              font-size: 20px;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
