<app-horizontal-slider>
  <div class="card-container" [ngStyle]="cardStyles">
    <div class="container">
      <div class="img_container">
        <img
          src="https://nurtr-v2.s3.ap-south-1.amazonaws.com/images/chess-page/rb-ramesh-card.png"
        />
      </div>
      <div class="about">
        <h1>Chess Gurukul 52-week Training Program</h1>
        <h2>GM RB Ramesh</h2>
        <div class="main">
          <div class="contain">
            <p>16th Feb 2019 to 2nd Feb 2020</p>
            <p>52 Sessions, 90 minutes/session</p>
          </div>
          <div class="pricing">
            <p>Rs. 14000</p>
            <button>Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-horizontal-slider>
