.app-reset-password {
  .reset_password_container {
    margin-top: 6em;
    display: flex;
    justify-content: center;

    .card_container {
          margin: 2em;

    .mat-card {
      max-width: 26em;
      width: 100%;
      padding: 2em;
      border-radius: 6px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      filter: drop-shadow(0px 6px 10px #cccccc);

      .input_hints {
        position: absolute;
        font-size: 0.7em;
        margin-top: -15px;
        right: 0;
      }

      h3 {
        text-transform: uppercase;
        color: darkturquoise;
        text-align: center;
        font-weight: 500;
        margin-bottom: 1.5em;
      }

      .card_content {
        display: flex;
        flex-direction: column;

        button {
          padding: 1em;
          text-transform: uppercase;
          background-color: #a0ce4e;

          &:hover {
            background-color: #34c2d6;
          }
        }
      }
    }
    }

  }
}
