<div class="reset_password_container">
  <div class="card_container">
    <mat-card>
      <div class="card_content" [formGroup]="form">

        <h3>Generate New Password</h3>

        <mat-form-field>
          <input matInput placeholder="New Password" type="password" formControlName="password">
          <mat-error>{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirm_password">
            <mat-error>{{getErrorMessage('confirm_password')}}</mat-error>
        </mat-form-field>

        <div class="alert alert-success h-50" *ngIf="rsMessages">{{rsMessages}}</div>

        <button mat-raised-button color="primary" (click)="resetUserForgotPassword()">Reset Password</button>
      </div>
    </mat-card>
  </div>
</div>