<div class="trailor_video">
  <div class="bg"></div>
  <!-- <div class="video_container">
    <video class="video" id="video-home" autoplay [muted]="true" loop>
      <source
        src="https://assetv2.nurtr.com/videos/gary+.mp4"
        type="video/mp4"
      />
    </video>
  </div> -->
  <img
    class="gradient"
    src="https://assetv2.nurtr.com/images/webp/shade.webp"
  />

  <div class="banner">
    <div class="content">
      <h1>Become a Better Cricketer <br />with Gary Kirsten</h1>

      <h4>
        Level up your game with the world’s first ever comprehensive,<br />
        cinematically shot online course – delivered by a World Cup winning
        coach
      </h4>
      <button [scrollTo]="'#priceContainerId'" [scrollDuration]="1000">
        Explore Packages
      </button>
    </div>
  </div>
</div>
