<div class="forgot_password_container">

  <h1 class="spacer">Forgot Password</h1>

  <div class="form_container" [formGroup]="form">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="E-mail" formControlName="email">
      <mat-error>{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>

    <app-mobile-number *ngIf="response && !response?.data.isUserEmailUnique && response.data.isUserEmailUnique !== undefined"
      [disableMobileInput]="false"
      [mobileNumber]="0"
      [mobileCountryCode]="0"
      (newMobileNumber)="setNewMobileNumber($event)"
    ></app-mobile-number>

    <div class="alert h-50 alert-success" [ngClass]="{'error_message' : !response.is_success}" *ngIf="response || response?.data.isUserEmailUnique">{{response.message}}</div>

    <input type="submit" class="btn btn-primary" value="Reset Password" (click)="resetPassword()" [disabled]="form.invalid">
  </div>
</div>

<app-pre-loader *ngIf="isLoading"></app-pre-loader>
