.app-current-passwords {
    .user_change_password_container {
      filter: drop-shadow(8px 8px 10px #cccccc);
      background: white;
      border-radius: 6px;
  
      .mat-card {
        width: 60%;
        margin: 0 auto !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        margin-left: 2em;
  
        h3 {
          font-size: 1.75em;
          font-weight: 400;
          color: grey;
          text-transform: none;
          cursor: default;
          margin-bottom: 0;
        }
  
        .form_group_container {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          margin-top: 2em;
          flex-direction: column;
          align-items: stretch;
  
          .md-form {
            flex: 1;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            .form-control {
              border: 1px solid #bdbdbd;
              border-radius: 5px;
              padding-left: 5px;
            }
            span {
              color: #666666;
              font-size: 15px;
              font-weight: 400;
            }
            .input_hints {
              position: absolute;
              font-size: 0.7em;
              margin-top: 18px;
              right: 0;
            }
            input[type='password'] {
              height: 1.9rem;
            }
          }
        }
  
        .reset_button_group {
          button {
            background: #a0ce4e;
            color: white;
            border: 1px solid #a0ce4e;
            padding: 10px 20px;
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer;
            // border-radius: 5px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        .mat-card {
          width: 100%;
          margin-right: 2em;
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      .user_change_password_container {
        margin-left: 0;
        // margin-right: 2em;
      }
    }
  }
  