<app-pre-loader *ngIf="cardSpinner"></app-pre-loader>

<div class="episode-list-container">
  <div class="data_loading" *ngIf="!episodeReceived">
    <mat-spinner></mat-spinner>
  </div>

  <div class="episode-group" *ngIf="episodeReceived && !noHomeWork">
    <div
      class="episode-card"
      *ngFor="let episode of episodeList"
      [ngClass]="{
        cursor_status: !episode.is_session_live && episode.is_available
      }"
    >
      <div
        class="card-container"
        [ngClass]="{ card_not_active: !episode?.is_available }"
      >
        <div class="header">
          <div class="play-icon">
            <img
              draggable="false"
              src="{{ episode.thumbnail_url }}"
              (click)="gotoVideoDetail(episode.episode_id, episode.id)"
            />
          </div>
          <div class="header_text">
            <p
              class="number"
              (click)="gotoVideoDetail(episode.episode_id, episode.id)"
            >
              Episode {{ episode.episode_id }}
              <img
                draggable="false"
                src="assets/chess/Dreamroom/episode-list/card/stats/video.svg"
                *ngIf="episode.duration !== null"
              />
              <span *ngIf="episode.duration !== null"
                >{{ episode.duration }} min</span
              >
            </p>
            <p class="name">{{ episode.name }}</p>
          </div>
        </div>

        <div
          class="icons"
          *ngIf="!episode?.video1_url && !episode?.video2_url && pType != 16"
        >
          <button
            class="button_join"
            *ngIf="episode.is_session_live"
            (click)="zoomWebinar(episode, episode.episode_id, episode.id)"
          >
            Join Now
          </button>
          <span
            style="width: 100%;display: flex;justify-content: space-between;"
            *ngIf="!episode.is_session_live"
          >
            <img
              draggable="false"
              src="{{ getButtonLink(episode.is_example_ready, 3) }}"
              matTooltip="Examples"
              *ngIf="categoryId !== 2"
              (click)="openExample(episode.level, episode.episode_id)"
              [ngClass]="{ not_active_icon: episode.is_example_ready === 0 }"
            />
            <img
              draggable="false"
              src="{{ getButtonLink(episode.is_puzzle_ready, 1) }}"
              matTooltip="Puzzle"
              *ngIf="categoryId !== 2"
              (click)="openPuzzle(episode.level, episode.episode_id)"
              [ngClass]="{ not_active_icon: episode.is_puzzle_ready === 0 }"
            />
            <img
              draggable="false"
              src="{{ getButtonLink(episode.flipbook_url, 4) }}"
              matTooltip="Post study material"
              (click)="
                openFlipBook(
                  episode.flipbook_url,
                  episode.episode_id,
                  episode.id
                )
              "
              [ngClass]="{ not_active_icon: episode.flipbook_url === '' }"
            />
          </span>
        </div>

        <!-- <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"> </div> -->
        <!-- <br> -->

        <div
          class="icons"
          *ngIf="!episode?.video1_url && !episode?.video2_url && pType == 16"
        >
          <button
            class="button_join"
            *ngIf="episode.is_session_live"
            (click)="zoomWebinar(episode, episode.episode_id, episode, id)"
          >
            Join Now
          </button>
          <span
            style="width: 100%;display: flex;justify-content: space-between;"
            *ngIf="!episode.is_session_live"
          >
            <a
              ><img
                draggable="false"
                src="{{
                  getButtonLink(episode.question_pgn_url != null ? 1 : 0, 8)
                }}"
                matTooltip="Assignment"
                (click)="downloadFiles(episode.question_pgn_url, episode.name)"
              />
            </a>
            <p class="file_upload">
              <img
                draggable="false"
                class="profile_text"
                src="{{
                  getButtonLink(
                    !episode.is_user_puzzle_submission &&
                      episode.question_pgn_url != null
                      ? 1
                      : 0,
                    9
                  )
                }}"
                matTooltip="Upload"
              />
              <input
                type="file"
                title=""
                matTooltip="Upload"
                *ngIf="
                  !episode.is_user_puzzle_submission && episode.question_pgn_url
                "
                id="file-input"
                (change)="
                  fileChange(
                    $event,
                    episode.level,
                    episode.episode_id,
                    episode.is_user_puzzle_submission,
                    episode.name
                  )
                "
                accept=".txt, .pgn"
              />
            </p>

            <img
              draggable="false"
              src="{{
                getButtonLink(
                  episode.is_user_puzzle_submission &&
                    episode.solution_pgn_url != null
                    ? 1
                    : 0,
                  7
                )
              }}"
              matTooltip="Solution"
              (click)="downloadFiles(episode.solution_pgn_url, episode.name)"
            />
            <img
              draggable="false"
              src="{{ getButtonLink(episode.flipbook_url, 4) }}"
              matTooltip="Flipbook"
              (click)="
                openFlipBook(
                  episode.flipbook_url,
                  episode.episode_id,
                  episode.id
                )
              "
            />
          </span>
        </div>

        <div class="icons" *ngIf="episode?.video1_url || episode?.video2_url">
          <span
            style="width: 100%;display: flex;justify-content: space-between;"
          >
            <img
              draggable="false"
              src="{{ getButtonLink(episode.is_puzzle_ready, 1) }}"
              matTooltip="Puzzle"
              (click)="openPuzzle(episode.level, episode.episode_id, episode)"
              [ngClass]="{ not_active_icon: episode.is_puzzle_ready === 0 }"
            />

            <div class="video_box">
              <div class="wistia_responsive_padding">
                <div
                  class="wistia_responsive_wrapper"
                  style="height:100%;left:0;position: relative;top:0;width:100%;"
                >
                  <span
                    class="wistia_embed {{
                      episode.video1_url
                    }} popover=true popoverAnimateThumbnail=true popoverContent=link videoFoam=true"
                    style="display:inline; margin-left: -1.7em"
                    matTooltip="Hints"
                  >
                    <img
                      draggable="false"
                      src="{{ getButtonLink(episode.video1_url, 6) }}"
                      (click)="openVideo(episode.video1_url)"
                      [ngClass]="{ not_active_icon: !episode?.video1_url }"
                    />
                  </span>
                </div>
              </div>
            </div>
            <div class="video_box">
              <div class="wistia_responsive_padding">
                <div
                  class="wistia_responsive_wrapper"
                  style="height:100%;left:0;position: relative;top:0;width:100%;"
                >
                  <span
                    class="wistia_embed {{
                      episode.video2_url
                    }} popover=true popoverAnimateThumbnail=true popoverContent=link videoFoam=true"
                    style="display:inline; margin-left: -1.7em"
                    matTooltip="Solutions"
                  >
                    <img
                      draggable="false"
                      class="color_solution"
                      src="{{ getButtonLink(episode.video2_url, 7) }}"
                      (click)="openVideo(episode.video2_url)"
                      [ngClass]="{ not_active_icon: !episode?.video2_url }"
                    />
                  </span>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>

    <div class="pagination">
      <div *ngFor="let page of pageList">
        <span
          id="{{ page.number }}"
          (click)="gotoPage(page)"
          [ngClass]="{ active_page: page == currentPage }"
          >{{ page }}</span
        >
      </div>
    </div>
  </div>

  <div class="no_home_work_view" *ngIf="episodeReceived && noHomeWork">
    <mat-icon>error</mat-icon>
    <h3>No home work is available for this product</h3>
  </div>

  <app-upcoming-events-section></app-upcoming-events-section>
</div>
