<div class="pop_message_container">
  <div>
    <p class="header">Did you notice the address bar ?</p>
    <p class="notice">To access your Zoom session</p>
    <p class="allow_popup">Allow the Pop-up
      <mat-icon>open_in_new</mat-icon>
    </p>
    <p class="notice space_up">For futher assistance, you can refer to the video below</p>
  </div>

  <iframe src="https://www.youtube.com/embed/MXMrbN3mMTA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <!-- width="560" height="315" -->
</div>
