<div class="work-area">

<h1>PRIVACY POLICY</h1>
<p>Effective date of the current privacy policy: 16 January, 2017</p>
<br>    
<p>THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT FORMED UNDER THE INFORMATION TECHNOLOGY ACT, 2000 AND THE RULES MADE THEREUNDER AND THE AMENDED PROVISIONS PERTAINING TO ELECTRONIC DOCUMENTS / RECORDS IN VARIOUS STATUTES AS AMENDED BY THE INFORMATION TECHNOLOGY ACT, 2000. THIS PRIVACY POLICY DOES NOT REQUIRE ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE.</p>
<br>    
<p>THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN YOU AND NURTR. THE TERMS OF THIS PRIVACY POLICY WILL BE EFFECTIVE UPON YOUR ACCEPTANCE OF THE SAME.</p>
<br>    
<p>PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY USING THE http://nurtr.com/ (“SITE”), YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE THIS SITE.</p>
<br>    
<p>We completely understand the responsibility of protecting Your privacy. We have created this privacy statement in order to demonstrate our firm and continuing commitment to the privacy of personal information provided by those using this Site. We hold the privacy of Your personal information in the highest regard. Technology and security policies, rules and other precautions are used to shield Your information from unlawful intruders, unauthorized access, destruction and accidental loss. Our policy is designed to assist You in understanding how we collect, use and safeguard the personal information You provide to Us and to assist You in making informed decisions when using our Site.</p>
<br>    
<p>These are the Nurtr Privacy Policy (“<b>Privacy Policy</b>”) governing Your use of the Site and its services. By accessing, using Or signing up on the Site or any other services and features , You are accepting the practices described in this Privacy Policy. In this Privacy Policy, meanings as ascribed to the terminologies in the Nurtr’s Terms of Use shall be applicable.</p>
<br>
<ol>


<b><li>Information Collection and Use</li></b>
<br>
<ul><li>Information Collection
    <p>We may collect and process the following personal information or data (information that can be uniquely identified with You) about You, we may ask this information:</p>
    <br>    

    <ol>
<li>Certain information required while using/ accessing the Site, including but not limited to your name, address, date of birth and following information:</li>
<li>Your e-mail address and a password;</li>
<li>A mobile phone number;</li>
<li>A record of any correspondence between You and Us;</li>
<li>Educational qualification(s); and</li>
<li>Your replies to any surveys or questionnaires that We may use for research purposes.</li>
</ol>
</li></ul>
<br>
<br>

<b><li>Use of Your Personal Information</li></b>
<ul>
<li>Site gathers personal information from You from time to time in order to enhance existing offerings or provide additional Services. Site gathers the information essential for understanding Users in such a way as to provide better Services.</li>
<li>Any personal information given to Us through Site is used exclusively by US and our service partners, unless otherwise noted on the Site. We do not make this information available to third parties who trade or rent information for direct marketing purposes.</li>
<li>We shall use Your personal information to send You Services-related notices, including any required legal notices and other messages, such as additions or changes to the Services and/or notices of product offers.</li>
<li>We may also use Personal Information for internal purposes such as auditing, data analysis and research to improve Our Services and Your communications.</li>
</ul>
<br>
<br>

<b><li>Information Sharing</li></b>
<p>In connection with performing the Services, We reserve the right to disclose Your personally identifiable information as required by law and when we believe that disclosure is necessary to protect Our rights and/or to comply with a judicial proceeding, court order or legal process served on Our Site. We may be required to share the aforesaid information with government authorities and agencies for the purposes of verification of identity or for prevention, detection, investigation including cyber incidents, prosecution and punishment of offences. You agree and consent for Us to disclose Your information, if so required under the applicable law.</p>
<br>    


<b><li>Cookies and Other Technologies</li></b>
<p>Site may use Cookies (as defined hereinafter) and other technologies such as pixel tags. These technologies help us better understand Your behavior. We receive and store certain types of information whenever You interact using the Site. For example, We obtain certain types of information when Your Web browser accesses Site or advertisements and other content served by or on behalf of Site. We treat information collected by cookies and other technologies as non-personal information.</p>
    
<p>Cookie is a small data file that Our server sends to Your browser when You visit the Site (“Cookies”). Our goal, in these cases, is to make your experience with Us more convenient and personal. The use of cookies helps us to assist Your use of certain aspects of the Site. You can delete cookies at any time or You can set Your browser to reject or disable Cookies. We may use information from cookies for the following purposes:</p>
<br>

<ul><b><li>Traffic monitoring</li></b>
<ul>    
<li>IP address from which You access the Site</li>
<li>type of browser and operating system used to access the Site</li>
<li>date and time of your access to the Site</li>
<li>pages You visit</li>
<li>Internet address of the website from which You accessed the Site to recognize repeat visitors for statistical / analytical purposes</li>
</ul>
</ul>
<br>
<p>    Pixel tags, also known as a clear GIF or web beacon, are invisible tags placed on certain pages of our Site but not on your computer. When you access these pages, pixel tags generate a generic notice of that visit. They usually work in conjunction with cookies, registering when a particular computer visits a particular page. If You turn off cookies, the pixel tag will simply detect an anonymous Site visit. Pixel tags enable Us to send email messages in such a format that customer can read and they tell us whether the email has been opened by the Student. We may use this information to reduce or eliminate messages sent to Students.</p>
<br>    
<p>    If You want to disable cookies You can modify Your settings on Your browser in order to reject automatic acceptance of cookie. You can check with Your provider to find out how to disable cookies. However, certain features of the Site may not be available once cookies are disabled.</p>
<br>    

<b><li>Your ability to edit and delete your profile information and preferences</li></b>
<p>    You can edit Your profile information. We reserve the right to send You certain communications, such as Services-related notices/announcements and administrative messages and other communications relating to the Our Services, without offering You the opportunity to opt out of receiving them.</p>
<br>    




<b><li>Security</li></b>
<p>    The Site has various electronic, procedural and physical security measures in place to protect the loss, misuse and alteration of information, or any accidental loss, destruction or damage to data. When You submit Your information via the Site, Your information is protected through Site’s security systems. There may be instances where We require proof of identity before disclosing any of Your information to You. You agree to be responsible to protect the security of Your username and password and other registration details, if any.</p>
<br>    
<p>    We may create links to other websites. You are requested to be aware that We do not provide any personally identifiable information to such other websites and that We are not responsible for the privacy practices of third parties. You agree that Site cannot control these links and We shall not be responsible for any use of such websites. Please be aware, however, that despite our efforts, no security measures are impenetrable.</p>
<br>    



<b><li>Grievance Officer</li></b>
<p>    If you find any discrepancies or have any grievances in relation to the collection, storage, use, disclosure and transfer of Your Personal Information under this Privacy Policy, please contact the following: privacy [at] nurtr.com</p>
<br>   



<b><li>Integrity and Retention of Data</li></b>
<p>    Site makes it easy for you to keep Your personal information accurate, complete and up to date. We will retain Your personal information and any data for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.</p>
<br>    



<b><li>Revisions to Privacy Policy:</li></b>
<p>    We reserve the right to update and revise this Privacy Policy at any time. You can determine if this Privacy Policy has been revised since Your last visit by referring to the “Effective Date of Current Policy” date at the top of this page. You should therefore review this Privacy Policy regularly to ensure that You are aware of its terms and amendments. Your use of Site constitutes Your acceptance of the terms of the Privacy Policy as amended or revised by Us.</p>
<br>


<b><li>Contact for any query</li></b>
<p>    In case, You have any questions about this Privacy Policy, our Services, or your dealings on the Site, You may contact a representative of Us by e-mailing us at privacy [at] nurtr.com.</p>
</ol>
</div>