<div class="dreamroom_container">
  <div class="div1">
    <!-- <img draggable="false" src="https://s3.ap-south-1.amazonaws.com/nurtr.images/youtube.png" class="img_laptop" height="100%" width="100%" (click)="openVideoPopup()"> -->
    <img
      draggable="false"
      src="/assets/chess/youtube.png"
      class="img_laptop"
      height="100%"
      width="100%"
      (click)="openVideoPopup()"
    />
  </div>
  <div class="div2">
    <div class="dr_text">
      <p class="dr_heading">What is nurtr's Chess Dream Room?</p>

      <p class="dr_content">
        nurtr's Chess Dream Room is first of its kind online chess course
        suitable for beginner to Grand Master level. The content has been
        designed by one of the best chess coaches of the world - the Super Coach
        of India Grand Master R.B. Ramesh and is supported by other celebrated
        GMs and Coaches. The Dream Room contains 40+ hours of cinematized chess
        content embedded with exhaustive exercises and puzzles to make sure you
        have enough arrows in your quiver as you embark on this mission to
        become a Grand Master.
      </p>

      <!-- ?          <p class="dr_content add_margin">nurtr's Dream Room would handhold every resident(aka the subscriber) on this journey to make sure that their dreams are achieved. The dream of becoming a Chess Grand Master.</p> -->
    </div>
  </div>
</div>
