<div class="user_change_password_container">
  <form [formGroup]="form">
    <mat-card>
      <div class="form_group_container">
        <div class="md-form">
          <span for="current_password">Current Password</span>
          <input mdbActive type="password" id="current_password" class="form-control" formControlName="current_password" autocomplete="off">
          <div *ngIf="form.controls['current_password'].touched">
            <div class="alert alert-danger h-50" *ngIf="form.controls['current_password'].errors">
              {{getErrorMessage('current_password')}}
            </div>
          </div>
        </div>

        <div class="md-form">
          <span for="new_password">New Password</span>
          <input mdbActive type="password" id="new_password" class="form-control" formControlName="new_password" autocomplete="off" placeholder="hint: abc@123">
          <div *ngIf="form.controls['new_password'].touched">
            <i class="input_hints">Hint: abc@123</i>
            <div class="alert alert-danger h-50" *ngIf="form.controls['new_password'].errors">
              {{getErrorMessage('new_password')}}
            </div>
          </div>
        </div>

        <div class="md-form">
          <span for="confirm_new_password">Confirm New Password</span>
          <input mdbActive type="password" id="confirm_new_password" class="form-control" formControlName="confirm_new_password" autocomplete="off" placeholder="hint: abc@123">
          <div *ngIf="form.controls['confirm_new_password'].touched">
            <div class="alert alert-danger h-50" *ngIf="form.controls['confirm_new_password'].errors">
              {{getErrorMessage('confirm_new_password')}}
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-danger h-50" [ngClass]="{'alert-success': rsmessage.is_success}" *ngIf="rsmessage">{{rsmessage.message}}</div>

      <div class="reset_button_group text-center">
        <button 
          (click)="changeCurrentPassword()"
          [disabled]="form.invalid"
          [ngClass]="{'button_disabled' : form.invalid}"
        >Save Changes</button>
      </div>

    </mat-card>
  </form>
</div>